body{
  font-family: Raleway, Arial, sans-serif;
  color: var(--custom-white);
  background-color: black;
}

.font-Orbitron{
  font-family: Orbitron, monospace;
}

.font-Poppins{
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html, body{
  min-height: 100vh;
}