.text-center{
  text-align: center;
}

.text-white{
  color: var(--custom-white);
}

.text-blue{
  color: var(--custom-blue);
}

.text-blue-light{
  color: var(--custom-blue-light);
}

.text-blue-dark{
  color: var(--custom-blue-dark);
}

.text-purple{
  color: var(--custom-purple);
}

.text-blue-light{
  color: var(--custom-purple-light);
}

.text-blue-dark{
  color: var(--custom-purple-dark);
}

.text-black{
  color: black;
}

.h1{
  font-size: 2rem;
}

.h2{
  font-size: 1.7rem;
}

.h3{
  font-size: 1.5rem;
}

.h4{
  font-size: 1.3rem;
}

.h5{
  font-size: 1.15rem;
}

.h6{
  font-size: 1rem;
}