@keyframes appear{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.container{
  position: fixed;
  top: 0.5rem; /*Small 'Margin'*/
  animation: appear 1s;
  z-index: 100;

  max-width: 100%;

  font-family: Orbitron;
}

.toggleButton{
  align-self: center;
  font-size: 120%;
}

.title{
  text-align: center;
  font-size: 110%;
}

.nav-links-container{
  width: 100%;
  height: 100vh;

  padding-right: 1.3rem;
  padding-top: 3.8rem;

  position: fixed;
  top: 0px;

  justify-content: flex-end;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0);
  transform: translateX(100%); /*Default*/
  
  transition: transform 500ms, background-color 250ms ease 600ms;
  /*Change this according to the theme*/
  background: linear-gradient(270deg, black 82%, transparent 80%);
}

.show-navContainer{
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-links-list{
  text-align: right;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-link{
  text-decoration: none;
  color: unset;
}

.nav-link:hover{
  text-decoration: none;
}

.nav-item{
  padding: 0.2rem;
}

@media (min-width: 768px) {/*md*/
  .toggleButton{
    font-size: 180%;
  }
  
  .title{
    font-size: 180%;
  }

  .nav-links-container{
    padding-top: 5.2rem;
  }

  .nav-links-list{
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {/*xl*/
  .toggleButton{
    font-size: 230%;
  }
  
  .title{
    font-size: 230%;
  }

  .nav-links-container{
    padding-top: 6.2rem;
  }

  .nav-links-list{
    font-size: 2.2rem;
  }
}