.container {
  justify-content: center;
  text-align: center;
  margin-bottom: 8rem;
}

.h1 {
  font-size: 350%;
}

@media (min-width: 576px) {
  /*sm*/
  .h1 {
    font-size: 410%;
  }
}

@media (min-width: 768px) {
  /*md*/
  .h1 {
    font-size: 460%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  /*lg*/
  .h1 {
    font-size: 550%;
  }
}

@media (min-width: 1200px) {
  /*xl*/
  .h1 {
    font-size: 600%;
  }
}