.container {
  justify-content: center;
  text-align: center;
}

.h1 {
  font-size: 350%;
}

@media (min-width: 576px) {
  /*sm*/
  .h1 {
    font-size: 500%;
  }
}

@media (min-width: 768px) {
  /*md*/
  .h1 {
    font-size: 600%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  /*lg*/
  .h1 {
    font-size: 650%;
  }
}

@media (min-width: 1200px) {
  /*xl*/
  .h1 {
    font-size: 700%;
  }
}