.container {
  padding-top: 15%;
  min-height: 100vh;
}

.img-container {
  min-height: 100%;
}

.main-container {
  min-height: 90%;
  overflow: auto;
}

.h1 {
  font-size: x-large;
  text-shadow: -10px 6px 13px black;
}

.btn {
  position: fixed;
  bottom: 1.5rem;
  left: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 5px;
  /* border-bottom-right-radius: 10px; */
  border-left-style: none;
  /* border: 2px solid black; */
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  transform: scale(1.1);
  /* box-shadow: -2px 4px 14px 2px black; */
  z-index: 100;
  background-color: var(--custom-white);
  color: black;
}

.image-list {
  margin-top: 0;
}

@media (min-width: 768px) {
  .image-list {
    margin-top: -7.5%;
  }

  .container {
    padding-top: 8%;
  }
  .description {
    position: unset;
    transform: translateX(0%);
  }
}