.ul{
  list-style-type: none;
  padding-left: 0.5rem;
}

.ul > li{
  border-bottom: 1px solid gray ;
  border-image-source: linear-gradient(to right, grey, transparent 45%);
  border-image-slice: 1;
  padding-top: 0.3rem;
}