@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.figure {
  margin-top: 1.2rem;
}

.figcaption {
  margin-left: 0.5rem;
  width: 100%;
}

.div_line {
  border-left: 2px solid black;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, var(--custom-white), rgba(255, 255, 255, 0.3) 20% 80%, var(--custom-white));
  height: auto;
}

.img{
  width: 100%;
  height: max-content;
}

.spinner {
  font-size: x-large;
  animation: rotate 1.5s linear infinite;
  color: var(--custom-blue);
}

.video_container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video_container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
  /*Aspect ratio of 16/9 (9/16 * 100%)*/
}

.video_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}